@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quando&display=swap');

*{
    font-family: "Quando";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Menu */

  #menu {
    height: 80px;
    background-color: #493737;
    border-bottom: 1px solid #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  #menu .centralizador {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  #menu .menu-space {
    display: flex;
    justify-content: space-between;
    gap: 300px;
  }

  #menu .logo {
    display: block;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu .logo img {
    width:50px;
  }

  #menu .m-links {
    display: inline-block;
    width: 600px;
  }

  #menu .m-links ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
  }

  #menu .m-links ul li a {
    text-decoration: none;
    color: #fff;
  }

  
  #menu .m-links ul li a:hover {
    color: rgb(225, 237, 53);
  }
  /* Menu Oculto */

  .menu-hamburguer {
    position: absolute;
    right: 400px;
    top: 20px;
    display: none;
  }

  .menu-img img {
    width: 40px;
  }


  /* Inicio */

 #inicio {
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(63deg, #352728 51.04%, #8e5d52 51.05%);
 }
 
 .ajuste__altura {
    width: 100%;
 }

 .centralizador {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }

 .apresentacao {
    color: #fff;
    font-size: 23px;
    padding: 25px 0px;
 }

 .apresentacao span {
    font-size: 50px;
    text-transform:initial;
    font-weight: bold;
    letter-spacing: 5px;
 }

 .linkedin__btn {
    margin-top: 20px;
    width: 480px;
    height: 80px;
    border-radius: 40px;
    background-color: #8e5d52;
    border: 0;
 }

 .linkedin__btn a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
 }

 .linkedin__btn a:hover {
   color: rgb(225, 237, 53) ;
   transition:all 0.2s ease-in-out;
 }

 @keyframes sobe--desce {
    
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(-30px);
    }
 }

 .desenho {
    animation-duration: 2s;
    animation-name: sobe--desce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 400px;
 }

 .desenho img {
    width: 100%;
 }

 /* Inicio */

 /* Sobre Mim */

 #sobre-min {
   background-color: #493737;
   padding: 140px ;
 }

 #sobre-min .desenho-bg img {
   width: 400px;
 }

 .sobre-min {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .sobre-min .pixel-font {
   font-family: "Press Start 2P";
   color: #fff;
   font-size: 45px;
 }

 .sobre-min p {
   margin-top: 20px;
   font-size: 20px;
   color: #fff;
 }

 /* Sobre Min */


 /* Projetos */

 #projetos {
   background-color: #352728;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #projetos .ajuste__altura {
   padding: 20px;
 }

 #projetos .projetos .pixel-font {
  font-family: "Press Start 2P";
  color: #fff;
  font-size: 45px;
  text-align: center;
  padding: 100px;
 }

 /* projetos area */

 #projetos .projetos-itens {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
   flex-direction: row;
 }

 #projetos .pro {
   display: flex;
   align-items: center;
   width: 310px;
   height: 190px;
   background-color: #fff;
   border-radius: 20px;
   overflow: hidden;
 }

 #projetos .pro:hover {
   letter-spacing: 5px;
   transition: all 0.3s ease-in-out;
 }

 #projetos .breve {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50px;
   background-color: #352728;
   transform: rotate(-50deg);
 }

 #projetos .breve p {
   color: #fff;
   font-size: 25px;
   text-transform: uppercase;
 }

 #projetos .github-link {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: auto;
   gap: 35px;
   padding-top: 35px;
   padding-bottom: 90px;
 }
 #projetos .github-link a {
   text-decoration: none;
   color: #fff;
 }

 #projetos .github-link a:hover {
   color:rgb(225, 237, 53) ;
   transition: all 0.3s ease-in-out;
 }

 #projetos .abrir-projetos--btn {
   width: 250px;
   height: 30px;
   background-color: #493737;
   border-radius: 15px;
   border: 0;
   color: #fff;
   cursor: pointer;
 }

 #projetos .abrir-projetos--btn:hover {
   background-color: #8e5d52;
   transition: all 0.3s ease-in-out;
 }

 /* Projetos */


 /* Hablilidades */

 #habilidades {
  background-color: #493737;
  padding: 140px ;
}

 #habilidades .ajuste__altura {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#habilidades h2 {
  color: #fff;
  font-size: 45px;
  font-family: "Press Start 2P";
  text-align: center;
}

#habilidades .habilidades-img {
  margin-top: 80px;
  width: 500px;
  height: 250px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#habilidades .habilidades-icon {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* Habilidades */


/* Rodapé */

#rodape {
  background-color: #352728;
  color: #fff;
}

#rodape .footer-contatos {
padding: 10px;
}

#rodape .footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 140px;
  height: 80px;
}

#rodape .footer-icon img {
  width: 60px;
  height: 60px;
}

#footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

/*Rodapé */

/* Resposivo Mobile */

@media (min-width:320px) and (max-width: 767px) {

  #menu {
    display: none;
  }

    /* Menu Oculto */

    .menu-hamburguer {
      position: fixed;
      right: 10px;
      top: 0;
      z-index: 100;
      display: none;
    }

    .menu-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .menu-img img {
      width: 40px;
    }
    
    .menu-oculto {
      display: block;
      width: 150px;
      background-color: #fff;
      border-radius: 5px;
    }

    .menu-oculto ul {
      list-style: none;
    }

    .menu-oculto a {
      text-decoration: none;
    }

  #inicio {
    background:#352728;
    height: 800px;
  }

  #inicio .centralizador {
    flex-direction: column-reverse;
    max-width: 300px;
    margin: 0 auto;
  }

  .desenho {
    width: 300px;
    height: 270px; 
  }

  .desenho img {
    width: 300px;
  } 

  .apresentacao {
    font-size: 20px;
    padding: 25px 25px;
  }

 .linkedin__btn {
    margin-top: 25px;
    width: 250px;
  }

  /* Sobre Mim */

  #sobre-min {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
  }

  #sobre-min .centralizador {
    height: 800px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
 
  #sobre-min .desenho-bg {
    height: 266px;
    margin-bottom: 25px;
  }

  #sobre-min .desenho-bg img {
    width: 300px;
  }
 
  .sobre-min {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 
  .sobre-min .pixel-font {
    font-family: "Press Start 2P";
    color: #fff;
    font-size: 30px;
  }
 
  .sobre-min p {
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
  }

  /* Projetos */
 
  #projetos .projetos .pixel-font {
   font-size: 30px;
   padding: 30px 25px;
  }
 
  /* projetos area */

  #projetos .projetos-itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
  }
 
  #projetos .pro {
    width: 280px;
  }

  /* Habilidades */
  
  #habilidades {
    padding: 20px ;
  }
  
   #habilidades .ajuste__altura {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #habilidades h2 {
    font-size: 25px;
  }
  
  #habilidades .habilidades-img {
    margin-top: 25px;
    width: 280px;
    height: 800px;
  }

  /* Rodapé */


  #rodape .footer-contatos {
    padding: 10px;
  }

  .icons {
    display: flex;
  }
  #rodape .footer-icon img {
    width: 40px;
    height: 40px;
    padding: 4px 0px;
  }

}

/* Resposivo Tablet */

@media (min-width:768px) and (max-width: 1023px) {

  /* Menu */

  #menu {
    display: none;
  }

  #menu .centralizador {
    max-width: 1000px;
  }


  #menu .menu-space {
    max-width: 768px;
  }

  #menu .m-links {
    width: 400px;
  }

  #menu .m-links ul {
    padding: 30px 0px;
  }

  /* Menu */

  /* Inicio */

  #inicio .centralizador {
    max-width: 600px;
    margin-top: 100px;
  }

  .desenho {
    width: 400px;
    height: 270px; 
  }

  .desenho img {
    width: 380px;
  } 


 .linkedin__btn {
    margin-top: 25px;
    width: 250px;
  }

  /* Sobre Mim */

  #sobre-min {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
  }

  #sobre-min .centralizador {
    height: 600px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
  }
 
  #sobre-min .desenho-bg {
    height: 400px;
    margin-bottom: 25px;
  }

  #sobre-min .desenho-bg img {
    width: 380px;
  }
 
  .sobre-min {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 
  .sobre-min .pixel-font {
    font-family: "Press Start 2P";
    color: #fff;
    font-size: 40px;
  }
 
  .sobre-min p {
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
  }


  /* Projetos */
 
  #projetos .projetos .pixel-font {
    font-size: 40px;
    padding: 30px 25px;
   }
  
   /* projetos area */
 
   #projetos .projetos-itens {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 25px;
   }
  
   #projetos .pro {
     width: 280px;
   }

   /* Habilidades */
  
  #habilidades {
    padding: 20px ;
  }
  
   #habilidades .ajuste__altura {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #habilidades h2 {
    font-size: 40px;
  }
  
  #habilidades .habilidades-img {
    margin-top: 25px;
  }


    /* Rodapé */

    #rodape {
      min-width: 768px;
    }

    #rodape .centralizador {
      max-width: 600px;
    }


}


@media (min-width:1024px) and (max-width:1440px) {

    /* Inicio */

    #inicio .centralizador {
      margin-top: 200px;
    }

}





